{% extends 'leads/base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block static %}{% endblock static %} {% block content %}
<div class="container-fluid mx-auto">
    <div class="w-50 d-flex justify-content-center">
        <form action="." method="post">
          {% csrf_token %} {{ form|crispy }}
          
          <hr>
          <input class="btn btn-primary m-2" type="submit" />
          <a href="{% url 'password_reset' %}" class="btn btn-primary "
            >Forgot A Password??</a
          >
        </form>
      </div>

</div>


{% endblock content %}
