{% extends 'leads/base.html' %} 
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'update.css'%}" />
{% endblock static %} 

{% block content %}
<h1>Lead Update</h1>

{% comment %} <form action="." method="post" enctype="multipart/form-data">
  <section class="vh-400" style="background-color: #f4f5f7">
    {% csrf_token %} 
    <div class="card mb-3" style="border-radius: 0.5rem">
      <div class="row g-0">
        <div
          class="col-md-4 gradient-custom text-center text-white"
          style="
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          ">
          <img
            src="{{lead.image.url}}"
            alt="Avatar"
            class="img-fluid my-5"
            style="width: 300px"
          />
          <div class="fieldWrapper">
            {{ form.first_name.errors }}{{ form.last_name.errors }}
            <h5>{{ form.first_name }} {{ form.last_name }}</h5>
          </div>
          
          <p>Web Designer</p>
          <i class="far fa-edit mb-5"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body p-4">
            <h6>Information</h6>
            <hr class="mt-0 mb-4" />
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <h6>Email</h6>
                <div class="fieldWrapper">
                  <p>{{ form.email.errors }}</p>
                  <p class="text-muted">{{form.email}}</p>
                </div>
                
              </div>
              <div class="col-6 mb-3">
                <h6>Phone</h6>
                <div class="fieldWrapper">
                  {{ form.phone.errors }}
                  <p class="text-muted">{{ form.phone}}</p>
                </div>
                
              </div>
            </div>
            <h6>Details</h6>
            <hr class="mt-0 mb-4" />
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <h6>Update Image</h6>
                <div class="fieldWrapper">
                  {{ form.image }}
                  {{ form.image.errors }}
                </div>         
              </div>
              <div class="col-6 mb-3">
                <h6>Most Viewed</h6>
                <p class="text-muted">Dolor sit amet</p>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
          <input type="submit" />
        </section>
  </form> {% endcomment %}
  
  <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
  </form>


  {% endblock %}
