{% extends 'agents/base.html' %}
{% load static %}
{% block static %}
{% endblock static %}

{% block content %} 
    <h1>Are you sure you want to delete ???</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-flex justify-content-between">
            
            <button type="submmit" class="btn btn-secondary">Yes</button>
            <a href="{% url 'agents:agent-list' %}" class="btn btn-secondary">No</a>

        </div>
    </form>
{% endblock content %}